*{
    margin: 0;              /* Remove default margin */
    padding: 0;             /* Remove default padding */
    outline: 0;             /* Remove default outline */
    box-sizing: border-box; /* Use border-box model for sizing */
    list-style: none;       /* Remove default list-style */
    text-decoration: none;  /* Remove default text-decoration */

}

:root
{
        --color-bg:          #1f1f38;        /* Background color */
        --color-bg-var:      #2c2c6c;        /* Background color (variant) */
        --color-primary:     #4db5ff;        /* Primary color */
        --color-primary-var: rgba(77, 181, 255, 0.4);  /* Primary color (variant) */
        --color-light:       rgba(255, 255, 255, 0.6);  /* Light color with transparency */
}